#roundButton {
  background-color: white;
  margin: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid rgb(66, 244, 223);
  outline: none;
  transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
#roundButton.right {
  transform: translate3d(20vw, 0, 0);
}
#roundButton.left {
  transform: translate3d(0vw, 0, 0);
}

#roundButton:hover {
  background-color: rgb(135, 248, 235);
  cursor: pointer;
  border-color: rgb(44, 158, 145);
  transform: scale(1.2, 1.2);
}

#roundButton.right:hover {
  transform: translate3d(20vw, 0, 0) scale(1.2, 1.2);
}

#roundButton:active {
  border-color: rgb(44, 158, 145);
  background-color: rgb(135, 248, 235);
}
@media (max-width: 1200px) {
  #roundButton.right:hover {
    transform: translate3d(27vw, 0, 0) scale(1.2, 1.2);
  }
  #roundButton.right {
    transform: translate3d(27vw, 0, 0);
  }
}
@media (max-width: 676px) {
  #roundButton.right:hover {
    transform: translate3d(85vw, 0, 0) scale(1.2, 1.2);
  }
  #roundButton.right {
    transform: translate3d(85vw, 0, 0);
  }
}
